<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/book.css">
    <title>Book</title>
</head>
<body>
    <H2>Book your appointment</H2>
    <form method="post">
        <label">Enter station name</label>
        <input type="text" name="station" placeholder="station name">
        <br><br>
        <label>Enter date</label>
        <input type="date" name="date" placeholder="date">
        <br><br>
        <label>Enter time</label>
        <input type="time" name="time" placeholder="time">
        <br><br>
        <button type="submit">Book</button>
        <br><br>
        <a href="/dashboard">Back to Dashboard</a>
    </form>
    
</body>
</html>