<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>register</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post">
        <label>Enter Username : </label>
        <input type="text" placeholder="username" name="username">
        <br>
        <br>
        <label">Enter Email Id : </label>
        <input type="text" placeholder="email" name="email">
        <br>
        <br>
        <label>Enter Password</label>
        <input type="password" placeholder="password" name="password">
        <br>
        <br>
        <button type="submit">Register</button>

        <p>Already a user? <a href="/login">Login!
        </a></p>

    </form>
    
</body>
</html>